@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFontValue';
  src: url('/fonts/MongoDBValueSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomRobot';
  src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomPop';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

html {
  --line-color:#e5e7eb
}

html.dark {
  --line-color:rgba(255, 255, 255, 0.2)
}

.borderBlack {
  @apply border border-black/10;
}